<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Index</title>
</head>
<body>
    <br>
    <h1 align="center">Interest-based Location Recommendations System using FourSquare Data</h1>
    <br>
    <ul>
        <li><h2><a href="/recommend1">Recommend 10 new places (UserID, CategoryName needed)</a></h2></li>
        <li><h2><a href="/recommend2">Recommend 10 similar users (UserID needed)</a></h2></li>
        <li><h2><a href="/recommend3">Recommend meeting place from 5 users (5 UserIDs, each location needed)</a></h2></li>
    </ul>
</body>
</html>