<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recommended Data 2</title>
</head>
<body>
    <br>
    <h1 align="center">Recommended 10 similar users</h1>
    <br>

    <table border="1">
        <tr>
            <th> userID </th>
            {% for each in recommended %}
            <td> {{each}} </td>
            {% endfor %}
        </tr>
    </table>

</body>
</html>

