<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recommended Data 3</title>

</head>
<body>
    <br>
    <h1 align="center">Recommend meeting place from 5 users and each location</h1>
    <br>

    <table align="center" border="1">
        <tr>
            <th> Latitude </th>
            <td> Longitude </td>
        </tr>
        <tr>
            <th> {{ recommended[0] }} </th>
            <td> {{ recommended[1] }} </td>
        </tr>
    </table>

    <br><br>

    <!--Map-->
    <h3 align="center"> <a href="/map">show map</a> </h3>

</body>
</html>

